<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="utf-8">
    <meta name="language" content="zh-hans">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="爱壁纸HD">
    <meta name="application-name" content="爱壁纸HD">
    <meta name="apple-itunes-app" content="app-id=524617518">
    <meta name="format-detection" content="telephone=no,email=no">
    <link rel="apple-touch-icon" href="http://s.qdcdn.com/cl/13020080,60,60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://s.qdcdn.com/cl/13020080,76,76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://s.qdcdn.com/cl/13020080,120,120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://s.qdcdn.com/cl/13020080,152,152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="http://s.qdcdn.com/cl/13020080,167,167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://s.qdcdn.com/cl/13020080,180,180.png">
    <link rel="apple-touch-startup-image" href="http://s.qdcdn.com/cl/13654659,320,480.png">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px)" href="http://s.qdcdn.com/cl/13654659,320,480.png">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="http://s.qdcdn.com/cl/13654659,640,960.png">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (orientation: portrait)" href="http://s.qdcdn.com/cl/13654659,640,1136.png">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (orientation: portrait)" href="http://s.qdcdn.com/cl/13654659,750,1334.png">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait)" href="http://s.qdcdn.com/cl/13654659,1242,2208.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait)" href="http://s.qdcdn.com/cl/13654659,768,1024.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape)" href="http://s.qdcdn.com/cl/13654659,1024,768.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait)" href="http://s.qdcdn.com/cl/13654659,1536,2048.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape)" href="http://s.qdcdn.com/cl/13654659,2048,1536.png">
    <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (orientation: portrait)" href="http://s.qdcdn.com/cl/13654659,2048,2732.png">
    <link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (orientation: landscape)" href="http://s.qdcdn.com/cl/13654659,2732,2048.png">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="tweetmeme-title" content="爱壁纸HD">
    <meta name="title" content="爱壁纸HD">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ryanstornado">
    <meta name="twitter:title" content="爱壁纸HD">
    <meta name="twitter:description" content="海量优质高清壁纸，定时切换壁纸，让手机时刻保持好心情">
    <meta name="twitter:image" content="http://s.qdcdn.com/cl/13654659,320,568.png">
    <meta property="og:url" content="http://zxye.me/bizhi.html">
    <meta property="og:title" content="爱壁纸HD">
    <meta property="og:description" content="海量优质高清壁纸，定时切换壁纸，让手机时刻保持好心情">
    <meta property="og:image" content="http://s.qdcdn.com/cl/13654659,600,315jpg">
    <title>仲夏叶 | 壁纸 · 让你的手机从此多彩</title>
    <meta name="description" content="在线高清壁纸下载，轻松设置手机壁纸">
    <meta name="keywords" content="壁纸,wallpaper,美图,高清,美女,动漫,影视,动物,风景">
    <meta name="author" content="仲夏叶">
    <meta name="reply-to" content="ryan@zxytech.com">
    <link rel="icon" type="image/png" href="http://s.qdcdn.com/cl/13020080,32,32.png">
    <link rel="shortcut icon" hrer="favicon.ico">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
    <style>
    body {
        padding-top: 70px;
    }
    
    .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    
    .row > [class^="col-"],
    .row > [class^=" col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .nowrap-hidden {
        overflow: hidden;
    }
    
    .nowrap-ellipsis {
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
    
    @media (min-width: 768px) and (max-width: 992px) {
        .row {
            margin-left: -10px;
            margin-right: -10px;
        }
        .row > [class^="col-"],
        .row > [class^=" col-"] {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    
    @media (min-width: 992px) {
        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
        .row > [class^="col-"],
        .row > [class^=" col-"] {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    
    html {
        position: relative;
        min-height: 100%;
    }
    
    body {
        margin-bottom: 60px;
    }
    
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: #f5f5f5;
    }
    
    .footer .container .text-muted {
        margin: 20px 0;
    }
    
    .force-wrap {
        word-wrap: break-word;
        word-break: break-all;
    }
    </style>
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    var shiftWindow = function() {
        scrollBy(0, -70);
    };
    if (location.hash) {
        shiftWindow();
    }
    window.addEventListener("hashchange", shiftWindow);
    </script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed hidden-xs" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">爱壁纸HD</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <p class="navbar-text hidden-xs">浏览更多精彩内容，请<a href="https://www.lovebizhi.com/" class="navbar-link" rel="nofollow">下载爱壁纸HD</a></p>
                <form action="{% url 'wallpaper-search' %}" class="navbar-form navbar-right" method="POST" role="search">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="keyword" placeholder="Search..."{% if keyword %} value="{{ keyword }}"{% endif %}>
                            <span class="input-group-btn"><button class="btn btn-default" type="submit">Go!</button></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row" id="loader">
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">仲夏园&nbsp;&#124;&nbsp;科技&nbsp;&copy;&nbsp;2015.&nbsp;All&nbsp;Rights&nbsp;Reserved.</p>
            <div id="cnzz" style="display:none">
                <script type="text/javascript">
                var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
                document.write(unescape("%3Cspan id='cnzz_stat_icon_1254452804'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254452804%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
                </script>
            </div>
            <div id="webscan360" style="display:none">
                <a href="http://webscan.360.cn/index/checkwebsite/url/sae.zxye.me"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/6d87c71a478a2c1ac49c78c0d9a991ca" /></a>
            </div>
        </div>
    </footer>
    <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
    function scrollAtBottom() {
        return $(document).scrollTop() + $(window).height() > $(document).height() - 10;
    }

    function drawImage(data) {
        // console.log("DrawImage data: " + data);
        var template = "";
        try {
            template += "<div class=\"col-xs-6 col-sm-4 col-md-3 col-lg-2\">\n";
            template += "<div class=\"thumbnail\" id=\"" + data.oid + "\">\n";
            template += "<a href=\"" + data.url + "\" rel=\"nofollow\">\n";
            template += "<img src=\"" + data.url.replace('1080,1920', '320,480') + "\" alt=\"" + data.name + "\" class=\"img-responsive\">\n";
            template += "</a>\n";
            template += "<div class=\"caption\">\n";
            template += "<div class=\"row\">\n";
            template += "<div class=\"col-xs-12 col-sm-6 col-md-6 col-lg-6\">\n";
            template += "<p class=\"text-left text-nowrap nowrap-hidden nowrap-ellipsis\"><strong>" + data.name + "</strong></p>\n";
            template += "</div>\n";
            template += "<div class=\"hidden-xs col-sm-6 col-md-6 col-lg-6\">\n";
            template += "<p class=\"text-right text-muted text-nowrap nowrap-hidden\"><small>" + data.pubDate + "</small></p>\n";
            template += "</div>\n";
            template += "</div>\n";
            template += "<p class=\"text-justify text-muted\">" + {% if data.tags %}data.tags{% else %}data.name{% endif %} + "</p>\n";
            template += "</div>\n";
            template += "</div>\n";
            template += "</div>\n";
        } catch (error) {
            console.log(error);
            console.log("data: " + data);
        }
        return template;
    }

    // 绘制一行图片
    function drawOneRowOfImages(row) {
        // console.log("DrawOneRow data: " + row);
        var template = "";
        for (var i = 0; i < 12; i++) {
            try {
                template += drawImage(row[i]);
                if ((i + 1) == 2 || (i + 1) == 10) {
                    template += "<div class=\"clearfix visible-xs-block\"></div>";
                } else if ((i + 1) == 3 || (i + 1) == 9) {
                    template += "<div class=\"clearfix visible-sm-block\"></div>";
                } else if ((i + 1) == 4 || (i + 1) == 8) {
                    template += "<div class=\"clearfix visible-xs-block visible-md-block\"></div>";
                } else if ((i + 1) == 6) {
                    template += "<div class=\"clearfix visible-xs-block visible-sm-block visible-lg-block\"></div>";
                } else if ((i + 1) == 12) {
                    template += "<div class=\"clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block\"></div>";
                }
            } catch (error) {
                console.log(error);
                console.log("row:" + row);
            }
        }
        return template;
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    var now = Date.now();

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
        async: true,
        global: false,
        type: "POST",
        timeout: 10000
    });

    function getOneRowData(rownum) {
        $.ajax({
            url: "{% url 'wallpaper-next-page' %}",
            data: {
                {% if keyword %}keyword: "{{ keyword }}",
                {% endif %}page: rownum,
                limit: 12,
                timestamp: now / 1000
            },
            dataType: "json",
            success: function(data) {
                console.log(data);
                $('.alert').alert('close');
                if (data.length === 0) {
                    $("#loader").after("<div class=\"alert alert-warning\" role=\"alert\">没有更多</div>");
                } else {
                    var htmlString = drawOneRowOfImages(data);
                    $("#loader").append(htmlString);
                }
            },
            error: function() {
                if (rownum == 0) {
                    var template = "";
                    template += "                        <div class=\"alert alert-danger alert-dismissible fade in\" role=\"alert\">";
                    template += "                            <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span class=\"glyphicon glyphicon-remove\"></span></button>";
                    template += "                            <h4>Opps!</h4>";
                    template += "                            <p>something unexpect happened. Please <a href=\"#\" class=\"alert-link\" onclick=\"getOneRowData(" + rownum + ")\">try again</a></p>";
                    template += "                        </div>";
                    $("#loader").html(template);
                }
            },
            complete: function() {
                $("img").error(function() {
                    $(this).attr('src', "{% static 'wallpaper/placeholder320x480.png' %}");
                });
            }
        });
    }
    $(document).ready(function() {
        getOneRowData(0);
        getOneRowData(1);
        var next = 2;
        $(window).bind("scroll", function() {
            if (scrollAtBottom()) {
                console.log(next);
                getOneRowData(next);
                next++;
            }
        });
    });
    </script>
</body>

</html>
