{% load i18n static %}<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% block title %}{% endblock title %}</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="{% static 'portfolio/css/base.css' %}" rel="stylesheet">


</head>
<body>
    {% block banner %}{% include "portfolio/banner.html" %}{% endblock banner %}

    {% block nav_button %}{% include "portfolio/nav-button.html" %}{% endblock nav_button %}

    {% block content %}{% endblock content %}
</body>
</html>