{% load i18n static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{% static 'portfolio/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="{% static 'portfolio/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
  <script src="{% static 'portfolio/js/ie-emulation-modes-warning.js' %}"></script>
  <!-- Custom styles for this template -->
  <link href="{% static 'portfolio/css/carousel.css' %}" rel="stylesheet">
  <link href="{% static 'portfolio/css/justified-nav.css' %}" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{% static 'portfolio/css/reset.css"> -->
  <link rel="stylesheet" href="{% static 'portfolio/css/vertical-timeline.css' %}">
  <!-- Resource style -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>
  {% block banner %}{% include "portfolio/carousel.html" %}{% endblock banner %} {% block nav_button %}{% include "portfolio/nav-tabs.html" %}{% endblock nav_button %} {% block content %}{% endblock content %}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- cd-timeline -->
  <script src="{% static 'portfolio/js/vertical-timeline.js' %}"></script>
  <!-- radar-chart -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" integrity="sha256-aUydBd3D3p3+5tVJXERlqMtoCej+p4tdD+dkJgeRWNU=" crossorigin="anonymous"></script>
  {% block radar_chart %}{% endblock radar_chart %}
</body>

</html>
