{% load i18n %} {% if banners %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for banner in banners %}
    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner" role="listbox">
    {% for banner in banners %}
    <div class="item{% if forloop.counter0 == 0 %} active{% endif %}">
      <a href="{{ banner.link|default:'#' }}">
        <img src="{{ banner.image|default:'data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==' }}" alt="{{ banner.title }}">
        <div class="container">
          <div class="carousel-caption">
            <h1>{{ banner.title }}</h1>
            <p>{{ banner.description }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endif %}
